#pot {
	/* top: 15%; */
	position: absolute;
	-webkit-animation: linear infinite;
	-webkit-animation-name: run;
	-webkit-animation-duration: 5s;
  }
  @-webkit-keyframes run {
	0% {
	  left: 0;
	}
	50% {
	  left: 100%;
	}
	100% {
	  left: 0;    
	}
  }